---

---

<section>
  <h1>Siema jestem deweloper</h1>
</section>

<style>
  section {
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--bg-graff);
    position: relative;
  }
  section::after,
  section::before {
    content: '';
    position: absolute;
    background-image: url('/hero-bg2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -90px;
    width: 100%;
    transform: scaleX(-1);
    height: 100%;
    opacity: 0.2;
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 1%,
      #256435 40%,
      transparent
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 1%,
      #1a1c20 15%,
      transparent
    );
    top: 0px;
    left: 0;
  }
  section::before {
    background-image: url('/wheels.webp');
    animation: glow 8s ease infinite forwards;
    opacity: 0;
  }

  @keyframes glow {
    0% {
      opacity: 0;
    }
    25%{
        opacity: .3;
    }
    50% {
      opacity: 0.4;
    }
    75%{
        opacity: .3;
    }
    100% {
      opacity: 0.2;
    }
  }

  @media (min-width: 900px) {
    section {
      mask-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0) 100%
      );
      -webkit-mask-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 90%,
        rgba(199, 146, 146, 0) 100%
      );
    }
  }
</style>
