---
import { Icon } from 'astro-icon/components';

interface Skill {
  name: string;
  icon: string;
}
interface Props {
  title: string;
  skills: Skill[];
}

const { title, skills } = Astro.props;
---

<div class='skill-block'>
  <h3 class='skill-title'>{title}</h3>
  <ul class='skill-list'>
    {
      skills.map((skill) => (
        <li class='skill-list-item'>
          <Icon class='skill-icon' name={skill.icon} />
          {skill.name}
        </li>
      ))
    }
  </ul>
</div>

<style>
  .skill-block {
    margin-bottom: 85px;
    min-width: 300px;
    position: relative;
  }
  
  .skill-title {
    font-family: var(--second-font);
    font-size: 4.3ch;
    text-decoration: underline;
    text-decoration-color: var(--light-grey);
    text-underline-offset: 15px;
    color: var(--green);
    margin-bottom: 40px;
  }
  .skill-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
  }
  .skill-list-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-family: var(--second-font);
    font-size: 1.5rem;
  }
  .skill-icon {
    font-size: 3rem;
  }
  @media (min-width: 900px) {
    .skill-block {
      text-align: left;
    }
  }
</style>
