---
import { Icon } from 'astro-icon/components';
---

<section id='about' class='about-container'>
  <div class='about-wrapper'>
    <div class='about-theme-pointer'><Icon name='person' />About</div>
    <h2 class='about-header'>&lt; /Let's Meet &gt</h2>
    <div class='texts-wrapper'>
      <p class='about-text'>
        Hello! My name is Jarek, and I am a web developer with a passion for
        creating innovative web solutions. For the past three years, I have been
        honing my skills by working on various projects that allow me to combine
        creativity with the latest technologies.
      </p>
      <p class='about-text'>
        Programming is not just a profession for me; it's a way to fulfill my
        passion. My experience encompasses front-end and some design
        development, enabling me to create comprehensive and functional web
        applications.
      </p>
      <p class='about-text'>
        I invite you to explore my portfolio, where you can find examples of my
        previous work. If you are looking for a dedicated and creative web
        developer who approaches every task with passion, feel free to contact
        me.
      </p>
    </div>
  </div>
</section>

<style>
  .about-container {
    position: relative;
    padding: 20px 20px 80px 20px;
    color: var(--wh);
    overflow: hidden;
  }
  .about-container::before {
    content: 'frontend';
    font-size: 3.5rem;
    color: var(--grey-font);
    position: absolute;
    font-family: var(--second-font);
    left: 15%;
    top: 4%;
    height: 100%;
    z-index: 0;
    opacity: 0.1;
  }
  .about-container::after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 20%;
    height: 80%;
    width: 80%;
    left: 50%;
    background: linear-gradient(
      159deg,
      rgb(33, 68, 30) 2%,
      rgb(8, 17, 26) 100%
    );
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.7), transparent 70%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.7), transparent 70%);
  }
  .about-wrapper {
    padding-top: 80px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
  .about-theme-pointer {
    display: flex;
    border: 1px solid var(--green);
    width: fit-content;
    padding: 3px 10px;
    border-radius: 7px;
    gap: 5px;
    color: var(--green);
    font-family: var(--second-font);
  }
  .about-header {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: var(--main-font);
  }
  .about-header::after {
    content: 'design';
    font-size: 2rem;
    color: var(--grey-font);
    position: absolute;
    font-family: var(--second-font);
    right: 0%;
    top: 21%;
    height: 100%;
    z-index: 0;
    opacity: 0.1;
  }
  .texts-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  p.about-text:nth-child(3) {
    position: relative;
  }
  .about-text {
    z-index: 1;
    position: relative;
    font-size: 1.1rem;
    line-height: 24px;
    font-family: var(--second-font);
  }
  @media (min-width: 900px) {
    .about-wrapper {
      border: 1px solid var(--grey-font);
      padding: 70px;
      border-radius: 7px;
    }

    .about-header::after {
      content: '';
      background-image: url('../../assets/about-bg2.webp');
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(-90deg);
      width: 100%;
      position: absolute;
      right: -52%;
      top: 0%;
      height: 100%;
      z-index: 0;
      opacity: 0.1;
    }
    .about-container {
      margin-top: 120px;
      margin-bottom: 120px;
    }
    .about-container::before {
      left: 50%;
      top: 15%;
    }
    .about-container::after {
      display: none;
    }
    p.about-text:nth-child(3)::after {
      bottom: -83%;
      left: 20%;
      display: block;
      content: 'design';
      font-size: 3.5rem;
      color: var(--grey-font);
      position: absolute;
      font-family: var(--second-font);
      height: 100%;
      z-index: 0;
      opacity: 0.2;
    }
  }
</style>
