---
import Navbar from '../components/Nav/Navbar';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/my-logo.png';
import logo2 from '../assets/logo-wh-2.webp';
import HeroSection from '../components/Hero/HeroSection.astro';
import AboutSection from '../components/About/AboutSection.astro';
import ProjectSection from '../components/Projects/ProjectSection.astro';
---

<Layout title='Web Developer - Jerry_Wski - Tworzenie Stron WWW'>
  <header>
    <div class='header-wrapper'>
      <a aria-label="link to home page" href="/">
        <Image class='logo-img desk' src={logo} alt='logo' loading={'eager'} />
      </a>
      <a aria-label="link to home page" href="/">
        <Image class='logo-img small' src={logo2} alt='logo' loading={'eager'} />
      </a>
      <Navbar client:only='react' />
    </div>
  </header>
  <main>
    <HeroSection />
    <AboutSection />
    <ProjectSection />
  </main>
</Layout>

<style>
  header {
    background-color: var(--bg-graff);
    height: 90px;
    padding-top: 10px;
  }
  .logo-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .logo-img.small {
    position: relative;
    z-index: 100;
    max-width: 80px;
    padding: 10px;
  }
  .logo-img.desk {
    display: none;
  }
  @media (min-width: 900px) {
    header {
      height: 120px;
      padding-top: 0px;
    }
    .header-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      position: relative;
      z-index: 100;
    }
    .logo-img.desk {
      display: block;
      margin-left: 40px;
      max-width: 340px;
      padding-top: 20px;
    }
    .logo-img.small {
      display: none;
    }
  }
</style>
