---
import Navbar from '../components/Nav/Navbar';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/my-logo.png';
import logo2 from '../assets/logo-wh-2.webp';
---

<Layout title='Web Developer - Jerry_Wski - Tworzenie Stron WWW'>
  <header>
    <div class='header-wrapper'>
      <Image class='logo-img desk' src={logo} alt='logo' loading={'eager'} />
      <Image class='logo-img small' src={logo2} alt='logo' loading={'eager'} />
      <Navbar client:only='react'/>
    </div>
  </header>
  <main></main>
</Layout>

<style>
  header {
    height: 80px;
    background-color: var(--bg-graff);
  }
  /* .header-wrapper {
    position: relative;
  }
  .header-wrapper::after {
    position: absolute;
    content: '';
    top: -193%;
    height: 570%;
    width: 50%;
    left: 25%;
    background: linear-gradient(352.23deg, #fff 0%, #fdfffd0a 100%);
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.7), transparent 70%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.1), transparent 53%);
  } */
  .logo-img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  .logo-img.small {
    max-width: 80px;
    padding: 10px;
  }
  .logo-img.desk {
    display: none;
  }
  @media (min-width: 800px) {
    .logo-img.desk {
      display: block;
      margin-left: 140px;
      max-width: 340px;
      padding-top: 20px;
    }
    .logo-img.small {
      display: none;
    }
  }
</style>
