---
import Navbar from '../components/Nav/Navbar';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/my-logo.png';
import logo2 from '../assets/logo-wh-2.webp';
---

<Layout title='Web Developer - Jerry_Wski - Tworzenie Stron WWW'>
  <header>
    <Image class='logo-img desk' src={logo} alt='logo' loading={'eager'} />
    <Image class='logo-img mobile' src={logo2} alt='logo' loading={'eager'} />
    <Navbar />
  </header>
  <main></main>
</Layout>

<style>
  header {
    height: 600px;
    background-color: var(--bg-graff);
  }
  .logo-img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  .logo-img.mobile {
    max-width: 60px;
    margin: 20px;
  }
  .logo-img.desk {
    display: none;
  }
  @media (min-width: 800px) {
    .logo-img.desk {
      display: block;
      margin-left: 140px;
      max-width: 340px;
      padding-top: 20px;
    }
    .logo-img.mobile {
      display: none;
    }
  }
</style>
