---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import FooterSection from '../Footer/FooterSection';
import contactLogo from '../../assets/logo-black2.webp';
import bg from '../../assets/projects-bg.webp';
import ContactForm from './ContactForm';
import ContactLinks from './ContactLinks.astro';
import ContactCta from './ContactCta';
---

<section id='contact' class='contact-section'>
  <div class='bg-img-mobile'></div>
  <Image
    class='bg-img'
    loading={'eager'}
    src={bg}
    alt='technology circuits lines'
  />
  <div class='contact-container'>
    <div class='contact-wrapper'>
      <div class='contact-theme-pointer'><Icon name='contact' />Contact Me</div>
      <h2 class='contact-header'>
        &lt; /<span class='span-header'>Get in Touch</span> &gt;
      </h2>
      <p class='contact-subheader'>
        There are many ways to contact me. The choice is yours.
      </p>
      <div class='contacts-block'>
        <a
          class='icons-links'
          href='mailto:jarek_wasilewski@yahoo.com'
          aria-label='link to contact email'
          ><Icon name='mail' /><span>jarek_wasilewski@yahoo.com</span></a
        >
        <a
          class='icons-links'
          aria-label='link to contact phone number'
          href='tel:+48663781576'
          ><Icon name='phone' /><span>663 781 576</span></a
        >
      </div>
      <div class='socials-block'>
        <a
          class='icons-links'
          aria-label='link to github profile'
          href='https://github.com/JerryWski'
        >
          <Icon name='github' />
        </a>
        <a
          class='icons-links'
          aria-label='link to facebook profile'
          href='https://www.facebook.com/jaro.wasilewski'
          ><Icon name='facebook' /></a
        >
      </div>
      <ContactForm client:only='react' />
    </div>
    <div class='contact-wrapper-right'>
      <ContactCta client:only="react" />
      <Image class='contact-logo' src={contactLogo} alt='logo' />
    </div>
  </div>
  <FooterSection client:only="react" />
</section>

<style>
  .contact-section {
    padding: 80px 20px 80px;
    color: var(--bg-graff);
    background-color: var(--wh);
    position: relative;
    background-color: var(--wh);
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
  }
  .contact-wrapper-right {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-wrapper-right h2 {
    font-family: var(--main-font);
    font-size: 2.2rem;
    color: var(--bg-black);
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
  }
  .contact-logo {
    margin-top: 40px;
    object-fit: contain;
    max-width: 70%;
    height: auto;
  }
  .contact-theme-pointer {
    display: flex;
    border: 2px solid var(--grey-font);
    width: fit-content;
    padding: 3px 10px;
    border-radius: 7px;
    gap: 5px;
    position: relative;
    align-items: center;
    z-index: 1;
    color: var(--grey-font);
    font-family: var(--second-font);
  }
  .contact-header {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    font-family: var(--main-font);
  }
  .contact-header .span-header {
    color: var(--green);
  }
  .contact-subheader {
    font-family: var(--main-font);
    font-size: 1.2rem;
    line-height: 32px;
  }
  .bg-img {
    display: none;
  }
  .bg-img-mobile {
    position: absolute;
    background-image: url('/projects-bg-mobile.webp');
    object-fit: contain;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.2;
  }
  .contacts-block {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contacts-block .icons-links {
    text-decoration: none;
    display: flex;
    color: var(--grey-font);
    align-items: flex-start;
    gap: 15px;
    font-family: var(--second-font);
    font-size: 1.1rem;
    transition: 0.3s all ease;
  }
  .contacts-block .icons-links:hover {
    opacity: 0.7;
  }
  .icons-links span {
    display: flex;
  }
  .socials-block {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
  }
  .socials-block .icons-links {
    transform: scale(1);
    font-size: 2rem;
    transition: 0.3s all ease;
  }
  .socials-block .icons-links:hover {
    opacity: 0.8;
    transform: scale(1.5);
  }
  .contact-wrapper {
    position: relative;
    z-index: 1000;
  }

  @media (min-width: 900px) {
    .contact-wrapper {
      max-width: 1440px;
      margin-inline: auto;
    }
    .bg-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      opacity: 0.2;
      object-fit: cover;
    }
    .bg-img-mobile {
      display: none;
    }
    .contact-container {
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
    .contact-wrapper {
      margin-inline: 0;
    }
    .contact-wrapper,
    .contact-wrapper-right {
      max-width: 50%;
    }
    .contact-wrapper-right {
      margin-top: 0;
    }
    .contact-wrapper-right h2 {
      font-size: 3.2rem;
    }
  }
</style>
