---

---

<button class='btn'
  ><a class='btn-link' aria-label='link to contact list' href='/'>Hire me</a>
</button>

<style>
    .btn {
        margin-top: 70px;
        position: relative;
        z-index: 2;
        cursor: pointer;
        padding: 10px 40px;
        border-radius: 15px;
        background-color: var(--green);
        border: none;
    }
    .btn-link {
        text-decoration: none;
        font-family: var(--second-font);
        font-size: 1.5rem;
        color: var(--bg-black);
    }
</style>
