---
import '../utils/CustomFonts.css';
interface Props {
  title: string;
}

const { title = 'Web Developer - Jerry_Wski - Tworzenie Stron WWW' } =
  Astro.props;
---

<!doctype html>
<html lang='pl'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/icon.webp' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --wh: rgb(243, 246, 239);
    --bg-black: rgb(5, 5, 5);
    --bg-graff: #1a1c20;
    --grey-font: #495551;
    --light-grey: hsl(157, 3%, 48%);
    --green: #1ea95a;
    --main-font: "Orbitron", 'sans-serif';
    --second-font: 'Anonymous Pro', 'sans-serif';
  }
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    color: var(--wh);
    
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--bg-graff);
    min-height: 100vh;
  }
  .sticky-body {
    overflow: hidden;
  }
</style>
