.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-top: -60px;
}
.nav-list {
    /* background-color: var(--bg-graff); */
    padding: 10px 80px;
    border-radius: 7px;
    border: 1px solid rgb(48, 48, 49);
    list-style: none;
    display: none;
    gap: 60px;
}
.mobile {
    position: absolute;
    right: 0;
    top: 54px;
    display: none;
    flex-direction: column;
    border: none;
    border-radius: 0;
    background-color: var(--wh);
}
.nav-list_item {
    font-family: var(--second-font);
    font-weight: 600;
    text-transform: uppercase;
}
.nav-list_item a {
    text-decoration: none;
    color: inherit;
}
@media (min-width:800px) {
    .nav-container {
        justify-content: center;
    }
    .desktop {
        display: flex;
        margin-top: 60px;
    }
    .mobile {
        display: none;
    }
    li.nav-list_item:nth-child(4) {
        margin-left: 100px;
        color: rgb(255, 230, 0);
    }
}